html
  head
    title!= title
    meta(name='referrer' content='never')
    title Login
    | &#x9;&#x9;
    meta(charset='utf-8')
    | &#x9;&#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | &#x9;&#x9;
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    | &#x9;&#x9;
    style(type='text/css').
      
      /****-----start-body----****/
      body{
      background:#F7DA55;
      font-family: 'Open Sans', sans-serif;
      }
      .login-form {
      background:#eee;
      width: 26%;
      margin:9% auto 4% auto;
      position: relative;
      -webkit-border-radius: 0.4em;
      -o-border-radius: 0.4em;
      -moz-border-radius: 0.4em;
      
      }
      .head {
      position: absolute;
      top:-15%;
      left: 35%;
      }
      .main{
      position:relative;
      }
      .main h1{
      font-size:25px;
      color:#676767;
      font-family: 'Open Sans', sans-serif;
      font-weight:400;
      padding-top: 0;
      text-align: center;
      }
      .main form {
      width: 80%;
      margin: 0 auto;
      padding: 6% 0 9% 0;
      }
      select{
      background:#37b44a;
      color:#fff;
      font-size: 25px;
      margin: 20px;
      }
      input{
      background:#37b44a;
      color:#fff;
      font-size: 25px;
      margin: 20px;
      }


  body
    h1(style="font-size:40px; margin:35px 0 35px 35px") 热烈欢迎用户: #{username},请您为以下电影打分:
    if selectedGenres && selectedGenres.length
      p(style="margin:0 0 20px 35px; font-size:20px;") 您选择的类型：#{selectedGenres.join('、')}
    form(action='/submituserscore', method='post')
       input(type='text',style="visibility: hidden;width:0px; height:0px;",name='userid', value=userid)
       table( cellpadding="5" cellspacing="5")
         tr
           -if(movieforpage!=NULL)
             -for(var i=0;i<movieforpage.length;i++)
              td
                p 电影名称:#{movieforpage[i].moviename}
                input(type='text',style="visibility: hidden;width:0px; height:0px;",name='movieid', value=movieforpage[i].movieid)
                img(src=movieforpage[i].picture )
                br
                select(name='moviescore')
                  option(value=1) 1
                  option(value=2) 2
                  option(value=3) 3
                  option(value=4) 4
                  option(value=5) 5
               -if((i+1)%5==0)
                tr
        input(type='submit',value='提交')
    
